td {
    width: 15px; height: 15px;
    border: 1px solid white;
    cursor: pointer;
}
td:nth-child(1) {
    background-color: #0533FF;
}
td:nth-child(2) {
    background-color: #399238;
}
td:nth-child(3) {
    background-color: #FFBF00;
}
td:nth-child(4) {
    background-color: #FF6200;
}
td:nth-child(5) {
    background-color: #91110F;
}
td:nth-child(6) {
    background-color: #F67280;
}
td:nth-child(7) {
    background-color: #873B70;
}
td:nth-child(8) {
    background-color: #4D0834;
}
td:nth-child(9) {
    background-color: #414359;
}