<div style="text-align: left;">
    <h3>
      Select Theme from below:
    </h3>
    <table>
        <tr>
            <td (click)="selectColor('0533FF','blue.css')"></td>
            <td (click)="selectColor('399238','green.css')"></td>
            <td (click)="selectColor('FFBF00','yellow.css')"></td>
            <td (click)="selectColor('FF6200','orange.css')"></td>
            <td (click)="selectColor('91110F','red.css')"></td>
            <td (click)="selectColor('F67280','pink.css')"></td>
            <td (click)="selectColor('873B70','purple.css')"></td>
            <td (click)="selectColor('4D0834','maroon.css')"></td>
            <td (click)="selectColor('414359','gray.sss')"></td>
        </tr>
    </table>
    <app-parent></app-parent>
  </div>
  